<!doctype html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="kWziZraRIS2muL4CiBYameb80BLecWwG9D8cx85xEKc" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>jimmy的專用網站測試適用廣告我不知道</title>
  </head>
  <body>
    <center>
    <div class="container">
    <h1>歡迎光臨</h1>
  </center>
    <hr>

    <script data-ad-client="ca-pub-2415998114933157" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    <hr>

<nav class="navbar navbar-expand-lg navbar-light bg-light">   

  <div class="container-fluid">
  
    <h3>  
    <span class="badge rounded-pill bg-secondary" href="#"> Love </span>
    </h3>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav">

        <li class="nav-item">
        <div class="container">
          <div class="col">
           <a type="button" class="btn btn-outline-warning" class="nav-link active" aria-current="page" href="/">Home</a> 
           
        </li>
        <li class="nav-item">
          <div class="container">
          <div class="col">
          <a type="button" target="_blank" class="btn btn-outline-secondary" class="nav-link" href="http://ee.nkust.edu.tw/">電機工程系</a>
          
        </li>
        <li class="nav-item">
          <div class="container">
            <div class="col"> 
          <a type="button" class="btn btn-outline-secondary" class="nav-link" href="/lotto/">樂透預測</a>
        </li>

        <li class="nav-item">
          <div class="container">
          <div class="col">
          <a type="button" class="btn btn-outline-secondary" class="nav-link" href="/date/">時間</a>
        </li>

        <li class="nav-item">
          <div class="container">
            <div class="col"> 
          <a type="button" class="btn btn-outline-secondary" class="nav-link" href="/play/">即時新聞</a>
        </li>

        <li class="nav-item dropdown">
          <div class="container">
          <a type="button"  class="nav-link dropdown-toggle btn btn-outline-primary" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">關於創作者</a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <li><a class="dropdown-item" target="_blank" href="https://www.facebook.com/shian.bo.tsz">Fb</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://www.instagram.com/tszshian">Instagram</a></li>
            <li><a class="dropdown-item" target="_blank" href="/date1/">持續增加中</a></li>
          </ul>
        </li>

        <li class="nav-item">
         <div class="container">
            <div class="col">
           <a type="button" class="btn btn-outline-secondary" class="nav-link" href="/passfirst/">媽媽</a>
        </li>
        
        <li class="nav-item">
          <div class="container">
          <div class="col"> 
          <a  type="button" class="btn btn-outline-secondary" class="nav-link " href="/admin/" tabindex="-1" aria-disabled="true">後臺管理</a>
        </div>
      </div>
    </li>
  </div>
</div>
</li>
</div>
</li>
</div>
</div>
</li>
</div>
</div>
</li>
</div>
</div>
</li>
</div>
</div>
</li>
</div>
</div>
</li>
</ul>
</div>
</div>
</div>
</nav>



    <hr>
    <br>
    
<div class="container">
  <div class="row">
    <div class="col">
        <div class="card" style="width: 30rem;">
          <img src="https://upload.cc/i1/2021/03/27/vqcETG.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4><p class="card-text">關於、親情、神怪異想的小說</p></h4>
           </div>
        </div>
    
    </div>
    <div class="col">
       <h1> <p class="fw-bold"><td>百年。一劍</td></p></h1>
      <h3>
        <p class="fw-normal">
      「不！不！不！」
      冷風呼呼地刮著，豆大般的雨點，無情的落在繹晴被淚水浸濕的臂彎裡，分不清是雨還是淚。現在的她，一顆心猶如太空中的黑洞，無窮無盡，不著邊際。
<br>
      「……」她坐在玄關穿鞋，爸爸從客廳探出頭
      「早餐要帶去學校吃嗎？」
      「……」
      自從爸爸拒絕讓她跟Sunny在上周末出門逛夜市後，她就拒絕和爸爸說話。繹晴的爸爸是位外科聖手，不僅醫術高明又視病猶親，人稱「阿東醫師」。自從妻子在三年前病逝，他開始父兼母職，但他始終無法讓女兒了解他的苦心，或許是害怕再一次失去生命中的摯愛，他對女兒的愛是否已成「礙」，也是他在午夜夢迴常問自己的問題。
<br>
   </div>
  </div>
</div>

<div class="container">
  <h3>
      走在往學校路途上，路邊的餐車傳來陣陣的香氣。
      「妹妹阿~我們這邊有在特惠，買三明治送紅茶喔!參考看看」一位和藹可親的老闆娘叫住了她，禁不住肚子咕嚕咕嚕的叫著，繹晴靠近攤販。
      <br>
      老闆娘的臉上露出了淡淡的陰沉，一閃即逝。電線杆上的鳥兒停止了歌唱，風也不再輕輕地吹動雲朵，從暗巷中衝出兩名壯漢，一位拿著繩索縛住女孩的行動，另一位拿著添了乙醚的手帕蒙住了女孩的口鼻，他們抓住女孩一起鑽入車內，老闆娘一踩油門，只見塵沙滾滾，他們消失在街道的盡頭。
<br>
      在一個種滿四季花草的庭院裡，優閒地看著晨報的男子，喝著英式早餐茶，手機的簡訊聲轉移了他的注意力。
      「得手」男子開懷大笑，這笑聲沒有喜悅，有的只是陰森，迴盪在偌大莊園裡，令人不寒而慄。幾百年的羞辱，今日終於可以雪恥了！
<br>
      一周前。
<br>
      值大夜班的阿東醫生，在下班前接獲了重大事故的傷者，醫生只好打起精神，進入急診室。經過六小時馬拉松式的手術急救之後，「嗶——」醫生滿臉倦容的走出急診室。
      <br>
      當其他醫護人員都離開急診室後，醫生趕忙轉身進入診間，隨手將門帶上。手術台上，本應躺著的男子這時已坐起身，身上的血漬、傷口也漸漸的消失，男子看著醫生，笑著說：「你怎麼知道？」
      <br>
      「感覺」
      <br>
      「感覺？」男子瞇起眼睛打量了醫生。
      <br>
      「那你說說我的目的？」
      <br>
      「血漿」
      男子臉上的表情逐漸僵硬，露出了原始且深邃的線條。血漿是啟動法陣的必要條件之一，因為要取得大量的血液，又不引起警方的注意，它能想到最好的方法就是到醫院取得，雖然這樣仍然冒著極大的風險。
<br>
      突然，男子消失了，他依舊躺在手術台上。只聽到太平間的人員走入，驚訝的問：「阿東，怎麼還在這裡，想學我們跟大體對話嗎？」被自己的幽默感逗的嗝嗝笑出聲來。醫生只是面色凝重地快步離開。
<br>
      隔日，阿東醫生向醫院請了一星期假，並嚴格限制女兒的回家時間，尤其是晚上九點之前一定要回到家。再次翻開太祖父留下的密本，扉頁寫著
<br>
      這是在我小時候發生的事
      <br>
      　　那日我在山中玩耍，XX也跟我在一起，我們在溪邊發現了只有一隻角的小羊，而它身上的皮透出悠悠的白光，我和XX決定將它捉回去，貼補家用，灌木叢中突然伸出一雙白皙的手，抓住那隻小羊，突然，那隻小羊變得不再美麗，反而變得皺巴巴的，委頓在地，我們嚇得趕緊就跑，跑回山腳下便遇到了村長，村長問我，怎麼如此慌張？也許是被剛剛的影像震懾住了，我支支吾吾地答不上來，看向身旁想向XX求助，但是我身邊卻沒有人，我明明記得XX跟在我身後下山的，怎麼不見了？村長看著我又問：「剛剛誰和你在一起？」我回答XX，村長沒有說話，拿出一張符紙交給我，叫我千萬別讓它離身。
      <br>
      　　我回到家，便將自己關在房間，躲在棉被下，直到媽媽叫我吃晚飯，餐桌旁坐著的竟是XX，媽媽說，看他一個人在路邊，不知道是哪個村走失的小孩，便邀請他一起吃飯，我當場愣住了，因為XX就住在我們家隔壁，而爸爸媽媽竟然都不認識他，直覺告訴我，它已經不是XX了。
      <br>
      　　晚上媽媽讓它和我睡同一間房，我暗暗捏著村長給的符紙，熬到子夜實在撐不住了，我的眼睛失去了焦距，腦袋沉甸甸地的，一顆懸著的心漸漸地平靜了下來，空氣中傳來一股淡淡的幽香，混雜著不祥的氣息。
      <br>
      　　早上起床，發現房間被弄得一團糟，但是父母都沒有過問，只是和往常一樣讓我出門玩耍，我急忙跑去向村長，將事情的經過一五一十的告訴村長，村長摸摸我的頭，告訴我「XX已經不在了，應該是被『它』給抹去了，消逝了。連我都不記得有這個人，而你卻記得，代表你的體內流淌著能打敗它的力量，倘若你無法成功，你一定要告訴子孫，讓他們幫助這個世界剷除不祥之物。」
<br>
      阿東醫師撥著亂糟糟的頭髮，翻箱倒櫃的想找出祖傳的密本後半段，不該起風的房間，突然揚起了滿屋的塵土，嗆的阿東醫師睜不開眼睛。不安的感覺再次出現，他知道女兒已經出事了！
<br>
      地面一陣晃動，地面出現了一條深溝，阿東醫師來不及閃躲掉了下去。隨著下降的速度越來越快，周圍模糊的影像卻越來越清晰，影像時間回到過去，他看到太祖父和村長正在對話，被一陣吸力牽引，進入了影像中，他降落到太祖父和村長旁的椅子上。
<br>
      「『它』的名字無人知曉，但是我們知道，『它』只喜歡對小孩動手，對大人沒有興趣，似乎是大人身上的靈氣，會對『它』造成傷害……」阿東醫師聽到這裡，周圍如同老舊電視機般開始閃爍了起來，隨之化成了粉末，只剩下村長看著他。
<br>
      「你就是他的孫子吧？」
      <br>
      村長將手壓在爸爸的頭上，世間的一切，湧入了阿東醫師腦中，他知道了一切。
      「去吧！去救出你的女兒，讓『它』不要在世上作亂了。」
      <br>
      阿東醫師睜開眼睛，他躺在客廳的地板上，周圍和平時不太一樣，所有的一切都變得更加的鮮明刺耳，他並沒有特別留意到甚麼，拿起了夾克，跑出了房間。
<br>
      「它」看著被綁住的女孩，女孩也毫不畏懼的回瞪著他。為了能夠隨意在各個時間空間中走動，「它」在好幾世紀以前，找到了能夠達成目的的魔法術式，但是要收集齊材料，需要耗費大量的時間，因此「它」向惡魔做了交易，換取永恆的生命，但也因此，本身的元氣大幅衰減，以至於「它」無法觸碰或傷害年長的人類，一觸碰年長的人類，便會造成「它」力量加倍的衰弱，真是一大諷刺！和惡魔的交易中，「它」得知極重要的祕密，完成魔法術式最重要的一項要素：知道所有一切的智者和一位少女的生命，而這知道一切的智者，正是女孩的爸爸－阿東醫師
<br>
      隨著警報的響起，「它」拉著女孩走向後院，將女孩放在庭院中心，自己隱身在一尊人像後。阿東醫師身上閃爍著一層金色的雲霧，若隱若現。
      <br>
      先前綁架女孩的兩位壯漢從天而降，但是阿東醫師的身體卻在無意識的情況下快一步行動，先後閃過了兩把武士刀，阿東醫師自己也嚇了一跳，這時從兩位壯漢的陰影中閃出了老闆娘，她隨手一揮，瞬間將阿東醫師點燃，包裹在熾熱的火龍捲中，阿東醫師感到肌膚一陣灼燒，但是隨即出現了金色的霧氣，緊密的包裹住自己。阿東醫師用意識控制金霧將其化成一把金刀劈開了火龍捲，像是武林高手般，和那三人對打了起來，雙方你來我往，但是力量相差懸殊他們都被阿東醫師解決了，雖然金色的霧氣修復了爸爸身上的傷口，但也讓他更加的疲憊。
<br>
      「其他人呢？他們也太快被打倒了吧。」「它」的聲音從四面八方傳來
      <br>
      阿東醫師沒有說話，他側耳傾聽，感官被提升到了極限，感應到「它」的所在位置。
      <br>
      「唰—」雕像連同「它」被迅雷不及掩耳的光劍切開。阿東醫師趕忙向庭院中心跑去，緊緊的將繹晴她抱在懷裡，用身體護住了女兒。
      <br>
      「碰！」阿東醫師胸口出現了一個小小的傷口，但是鮮血卻不斷湧出，庭院中出現了巨大的術式，「它」跌跌撞撞站起身來，苦笑著說：「現代科技真棒！小小一隻金屬玩具就能對我造成如此巨大的傷害，枉費我用大量元氣和惡魔換取的交易！」繹晴發現爸爸身上有著多處的傷口，還有一些較為嚴重的燒傷，隨著金霧逐漸的消失，這些傷口逐漸顯現了出來。
      <br>
      看著倒在血泊之中的兩人，「它」召喚出了素材，將其混和，法陣出現陣陣閃光，不時爆出耀眼的紅光，隨著金霧的消失，女孩身上的傷，被爸爸最後的愛，治癒了。
      <br>
      「妳不必難過，我成功救到妳了……」隨著「它」的怒吼，「它」失敗了！爸爸露出微笑，腳下術式開始漩渦式的運轉，爸爸連同「它」被光芒所吞噬，轟隆隆轟隆隆，天空如同女孩內心般，灰濛濛的。
      </p>
    </h3>
  </div>
 

  	<center>
    		  <br>版權沒有 歡迎使用</br>
          <br>聯絡信箱 : jimmy910824@gmail.com</br>
          <br>詳情請至官網查詢</br>
          <hr><br><br>
    </center>
 

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  </body>
</html>