<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>shian家網站</title>
  </head>
  <body>
  	<center>
  	<div class="container">
    <h1>歡迎光臨</h1>
	</center>
    <hr>

    <script data-ad-client="ca-pub-2415998114933157" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    <hr>

<nav class="navbar navbar-expand-lg navbar-light bg-light">   

  <div class="container-fluid">
	
  	<h3>	
  	<span class="badge rounded-pill bg-secondary" href="#">Jimmy</span>
  	</h3>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav">

        <li class="nav-item">
        <div class="container">
         	<div class="col">
         	 <a type="button" class="btn btn-outline-warning" class="nav-link active" aria-current="page" href="/">Home</a> 
         	 
        </li>
        <li class="nav-item">
        	<div class="container">
        	<div class="col">
          <a type="button" class="btn btn-outline-secondary" class="nav-link" href="http://ee.nkust.edu.tw/">電機工程系</a>
          
        </li>
        <li class="nav-item">
        	<div class="container">
      	    <div class="col">	
          <a type="button" class="btn btn-outline-secondary" class="nav-link" href="/lotto/">樂透預測</a>
        </li>

        <li class="nav-item">
        	<div class="container">
        	<div class="col">
          <a type="button" class="btn btn-outline-secondary" class="nav-link" href="/date/">時間</a>
        </li>

        <li class="nav-item dropdown">
          <div class="container">
          <a type="button"  class="nav-link dropdown-toggle btn btn-outline-primary" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">社群</a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <li><a class="dropdown-item" href="https://www.facebook.com/shian.bo.tsz">臉書Fb</a></li>
            <li><a class="dropdown-item" href="https://www.instagram.com/tszshian">Instagram</a></li>
            <li><a class="dropdown-item" href="#">持續增加中</a></li>
          </ul>
         
        </li>
        
        <li class="nav-item">
        	<div class="container">
      		<div class="col">	
          <a  type="button" class="btn btn-outline-secondary" class="nav-link " href="/admin/" tabindex="-1" aria-disabled="true">後臺管理</a>
   
          </div>  
        </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <hr>
  	<center>   
      <div class="container">
  		<center>		
	    <h1>{{ post.title }}</h1>
	    <iframe width="1008" height="567" src="https://www.youtube.com/embed/{{post.vid}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    <br>
	    <br>
	  </div>
  	</center>
      <table class="table table-light table-striped">
        <tr><td>標題</td><td>影片ID</td><td>張貼日期時間</td>
      {% for post in posts %}
        <tr>
          <td><a href='https://www.youtube.com/watch?v={{ post.vid }}'>{{ post.title }}</a></td>
          <td><a href='/play/{{ post.id }}/'>{{ post.vid }}</a></td>
          <td>{{ post.pub_date }}</td>
    
        </tr>
      {% endfor %}
    		  <br>電機工程系 四電一丙 洗柏詞</br>
          </td>  
        </tr>
      </table>
    </center>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>